﻿@Model IEnumerable<ControlComida.Models.AreaSolicitante>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AreaSolicitante</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @*@Html.HiddenFor(Model => Model.Id)*@

        <div class="form-group">
            <table cellspacing="0" width="80">
                <thead>
                    <tr>
                        <th>
                            Area
                        </th>
                    </tr>
                </thead>
                <tbody>
                @using (Html.BeginCollectionItem("EditAreaRow"))
                    {
                @*<tr>
                    <td align="left">
                        @Html.LabelFor(model => item.DescArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => item.DescArea, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => item.DescArea, "", new { @class = "text-danger" })
                    </td>
                </tr>*@            
                        @*</div>*@
                        
                        if (Model.ObjectList.Count == 0)
                        {
                            <tr>
                                <td>No data found</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td align="left">
                                    @Model.DescArea
                                </td>
                            </tr>
                        }                    
                    }

    </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
