﻿@model ControlComida.Models.AreaSolicitante

<p>
    <h2>Gift List</h2>
    <div class="form-group">
        @Html.Partial("EditAreaRow", Model.areaSolicitante);
    </div>
    <input type="submit" value="Finished" />
</p>  
