﻿@model ControlComida.Library.Model.AreaSolicitante

@using (Html.BeginCollectionItem("areas"))
{                                    
        <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.AreaId)
            @Html.HiddenFor(modelItem => modelItem.AreaId)
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}