﻿@model IEnumerable<ControlComida.Library.Model.AreaSolicitante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AreaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr> 
    @foreach (var item in Model) { 
        @Html.Partial("AreaSolicitanteRow", item)
    }
</table>
    
 <input type="submit" value="send"/>   
}

